nav{
    background-color:hwb(237 0% 80%);
    display: flex;
    width: 100%;
    

   
  }
  
  #abonarlogo{
    margin-top: 11%;
    margin-left: 59%;
    margin-bottom: 8.5%;
    height: 80px;
  }
  

#abonarpalabra{

    height: 12%;
    width: 12%;
    margin-top: 1.6%;
    margin-left: 5.8%;
    margin-bottom: 1%;

}
body{
    margin: 0;
}