nav{
  background-color:hwb(237 0% 80%);
  display: flex;
  width: 100%;
  

 
}

#abonarlogo{
  margin-top: 11%;
  margin-left: 59%;
  margin-bottom: 8.5%;
  height: 80px;
}


#abonarpalabra{

  height: 12%;
  width: 12%;
  margin-top: 1.6%;
  margin-left: 5.8%;
  margin-bottom: 1%;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  
  justify-content: center;
  align-items: center;
  
  min-height: 100vh;
  background: #E3E3D8;
}
.cartas{
  display: flex;
  justify-content: space-around;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 250px;
  height: 350px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  margin: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px; /* Ajusta el margen según sea necesario */
}

.card .content {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;  
  text-align: center;  
  padding: 20px;
  background: #fff;
}

.card .content .img {
  height: 50%;
  margin-bottom: 20px;
}

.card .content .img img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.card .content span {
  position: absolute;
  width: 350px;
  height: 200px;
  background-color: hwb(237 0% 80%);
  transform: rotate(-35deg);
  top: -50px;
  left: -100px;
}

.card .content h4 {
  font-size: 18px;
  color: #1a1919;
  margin-bottom: 5px;
}

.card .content h6 {
  font-size: 13px;
  color: #5e2066;
}

.card .content p {
  font-size: 13px;
  color: #1a161f;
  margin-top: 10px;
}

.card .links {
  position: absolute;
  z-index: 90;
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
  padding: 20px;
  align-items: center;
  right: 10px;
  top: 15px;
  transition: .5s;
}

.card:hover .links {
  right: -50px;
  border-radius: 0 10px 10px 0;
}


.card .links a {
  font-size: 20px;
  color: #646069;
}

.card .links a:nth-child(1):hover {
  color: #0158ca;
}

.card .links a:nth-child(2):hover {
  color: #1C93E4;
}

.card .links a:nth-child(3):hover {
  color: #5D277D;
}

.card .links a:nth-child(4):hover {
  color: #FE0000;
}
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px; /* Ajusta el margen según sea necesario */
}