body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    background-color: white;
    font-size: 16px;
  }
  
  nav{
    background-color:hwb(237 0% 80%);
    display: flex;
    width: 100%;
  }
  
#abonarlogo{
    height: 9%;
    width: 9%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
  }
  

#abonarpalabra{

    height: 12%;
    width: 12%;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1%;


}

  .container{
    width: 45%;
     background-color: red;
     margin-top: 1%;
     margin-left: 25%;
     padding: 55px;
     font-size: 15px;
  }

  .adentro{

    display: flex;
    justify-content: center;
    font-size: 24px;
  }

  #imagencentro{
    padding-left: 165px;

  }

/* :hwb(237 0% 80%); */

