@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Binance PLEX";
}
body {
    min-height: 100vh;
    background: white;
    margin: 0%;
    font-size: 16px;
}

nav {
    background-color: #1667a8;
    display: flex;
    width: 100%;
    height: 100px;
}

#abonarlogo {
    margin-top: 9%;
    margin-left: 75%;
    margin-bottom: 8.5%;
    height: 85px;
    width: 90px;
}

#abonarpalabra {
    height: 12%;
    width: 12%;
    margin-top: 12%;
    margin-left: 5.8%;
    margin-bottom: 1%;
}

.bx {
    padding-top: 58px;
    font-size: 30px;
    cursor: pointer;
    transform: translateX(-60px);
}

#pass {
    width: 330px;
}

.container {
    margin-top: 75px;
    margin-bottom: 100px;
    border: 1px solid hwb(0 100% 28%);
    position: relative;
    max-width: 600px;
    margin-left: 33%;
    width: 450px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
    font-size: 2.0rem;
    margin-left: 35px;
    color: #333;
    font-weight: 600;
}

.container .form {
    margin-top: 30px;
}
.form .input-box {
    width: 83%;
    margin-top: 20px;
    margin-left: 9%;
}
.input-box label {
    color: #333;
}
.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 11px;
    padding: 0 15px;
}
.input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.address :where(input, .select-box) {
    margin-top: 15px;
}

.form button {
    height: 55px;
    width: 82%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 8.7%;
    border-radius: 11px;
    border:none;
    cursor: pointer;
    transition: all 0.2s ease;
    background:#1667a8;
    margin-bottom: 15px;
}
.form button:hover {
    background: #06416a;
}
/*Responsive*/
@media screen and (max-width: 500px) {
    .form .column {
        flex-wrap: wrap;
    }
}

.form .column {
    display: flex;
    column-gap: 15px;
}
