body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    background-color: white;
    font-size: 16px;
  }
  
  nav{
    background-color:hwb(237 0% 80%);
    display: flex;
    width: 100%;
  }
  
#abonarlogo{
    height: 9%;
    width: 9%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
  }
  

#abonarpalabra{

    height: 12%;
    width: 12%;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1%;


}

  .container{
    width: 45%;
    border: 1px solid  hwb(0 100% 28%);
    border-radius: 7px;
     background-color: white;
     margin-top: 5%;
     margin-left: 41%;
     padding: 12px;
     font-size: 15px;
  }

  .adentro{

    padding-left: 45px;

  }
#ingresarmail{

    width: 86%;
    padding: 9px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
}

#botoncontinuar{
  background-color:hwb(237 0% 80%);   
  color: #fff;
  width: 20%;
  padding: 1.9%;
  margin-bottom: 15px;
  border-radius: 7px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  border: none; 
  color: white; 
  cursor: pointer; 
  border-radius: 5px; 
}



#botoncreatucuenta{

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  background-color: #fff;
  width: 29%;
  padding: 1.9%;
  border: none; 
  color:hwb(237 0% 80%);
  cursor: pointer; 

}
#botoncreatucuenta:hover {
  background-color:  rgb(109, 217, 250);
}

#botoncreatucuenta:active {
  background-color: rgb(109, 217, 250);
}