body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0%;
  background-color: white;
}

nav{
  background-color: cadetblue;
  display: flex;
  width: 100%;
}

nav img{
  height: 9%;
  width: 9%;
  margin-top: 1%;
  margin-left: 5%;
  margin-bottom: 1%;
}

nav a{
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

nav a:hover{
  color:rgb(63, 60, 200);
}

#Encabezado{
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
  margin-left: 7%;
}

#Login{
  align-items: center;
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin-left: 15%;
}

#frasegrandecentro{


  margin-left: 8%;
  margin-top: 8%;


}

#fraseabajo{

  margin-left: 8%;


}

#masabajodelafrase{

  margin-left: 8%;
  
}