body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0%;
  background-color: white;
  
}
#abonarlogo{
  margin-top: 11%;
  margin-left: 59%;
  margin-bottom: 8.5%;
  height: 80px;
}


#abonarpalabra{

  height: 12%;
  width: 12%;
  margin-top: 1.6%;
  margin-left: 5.8%;
  margin-bottom: 1%;

}
nav{
  background-color:  hwb(237 0% 80%); 
  display: flex;
  width: 100%;
}

nav img{
  height: 9%;
  width: 9%;
  margin-top: 1%;
  margin-left: 5%;
  margin-bottom: 1%;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}

nav a:hover{
  color:rgb(63, 60, 200);
}

#Encabezado{
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
  margin-left: 7%;
}

#Login{
  align-items: center;
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin-left: 15%;
}

#center h1{
  margin: 8% 15%;
  margin-bottom: 5%;
  font-size: 60px;
  /* Parecido a Takenos */
}

#center p{
  font-size: 20px;
  /* Aun a ver si queda la frase */
}

#center a{
  text-decoration: none;
  border: 1px;
  border-style: solid;
  border-radius: 8px;
  /* Mas apariencia a boton */
}

footer{
  background-color: rgb(69, 69, 69);
  width: 100%;
  margin-top: 20.5%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

footer img{
  width: 50%;
  margin-left: 1%;
  margin-top: 1%;
  /* Logo ??? */
}

footer div{
  
  width: 100%;
  margin-top: 1%;
}

footer a{
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}


#Siguenos { 
  margin-left: 129px ;
  margin-top: 129px;
  font-size: 24px; 
}

.logos{

    display: flex;
    justify-content: space-between;

}
footer #Siguenos h3{

  font-size: 18px;
  margin-left: 30px;

}
 footer a:hover{ 

  color: blue;

}

.palabrasfooter{

  font-size: 12.5px;

}

footer p{
  background-color: black;
  display: flex;
  justify-content: center;
  color: #555;
  font-size: 11px;
  
  

}