nav{
    background-color:hwb(237 0% 80%);
    display: flex;
    width: 100%;
    

   
  }
  
#abonarlogo{
    height: 9%;
    width: 9%;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 1%;
    
  }
  

#abonarpalabra{

    height: 12%;
    width: 12%;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1%;


}
body{
    
    margin: 0;
}
h1{
    text-align: left;
}
h2{
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #000;
    cursor: default;
}
p{
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.4rem;
    color: #888;
    cursor: default;
}
hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    

}
.preguntas{
    position: relative;
    width: 50%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}