body{
    margin: 0;
    padding: 0;
    background-color: white;
    
}
nav{
    background-color:hwb(237 0% 80%);
    display: flex;
    width: 100%;
    

   
  }
  
  #abonarlogo{
    margin-top: 11%;
    margin-left: 59%;
    margin-bottom: 8.5%;
    height: 80px;
  }
  

#abonarpalabra{

    height: 12%;
    width: 12%;
    margin-top: 1.6%;
    margin-left: 5.8%;
    margin-bottom: 1%;


}
footer{
    background-color: #e6e2e2;
}
.footer23{
    padding: 10px 0px;
    margin-top: 100%;
    display: flex;
    justify-content: center;
    gap:30px;
    padding-top: 40px;
    background-color: #e6e2e2;
    
}

footer p{
    background-color: #e6e2e2;
    
    display: flex;
    justify-content: center;
    color: #555;
    font-size: 11px;
    padding-bottom: 30px;
    

}
h1{
    color: #3a3a3a;
    margin-top: 100px;
    margin-left: 20px;
    width: 100%;
    font-size: 3.052rem;
    line-height: 120%;
}
.imagen{
    margin-left: 400px;
    margin-top: 50px;
    
    width: 20%;
}
.contenido{
    display: flex;
    
}
.priv{
    color: #888889;
    font-size: 1.3125rem;
    line-height: 150%;
    margin-top: 0.5rem;
    padding: 20px;
}
h2{
    color: #3a3a3a;
    font-size: 2.441rem;
    line-height: 120%;
    padding: 20px;
}
.recolectados{
    color: #888889;
    font-size: 1.3125rem;
    line-height: 150%;
    margin-top: 0.5rem;
    padding: 20px;
}
.personales{
color: #888889;
    font-size: 1.3125rem;
    line-height: 150%;
    margin-top: 0.5rem;
    padding: 20px;
} 