body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; /* Color de fondo general */
    margin-bottom: 0;
}

nav{
    background-color:hwb(237 0% 80%);
    display: flex;
    width: 100%;
    
  }

 #abonarlogo{
    margin-top: 11%;
    margin-left: 59%;
    margin-bottom: 8.5%;
    height: 80px;
  }
  

#abonarpalabra{

    height: 12%;
    width: 12%;
    margin-top: 1.6%;
    margin-left: 5.8%;
    margin-bottom: 1%;

}

.terminos {
    color: hwb(237 0% 80%); 
    text-decoration: none;
    transition: color 0.3s ease; 
    font-size: 14px;
    
}

.content {
    
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
}

.contenido {
    width: 60%;
    padding: 20px;
    background-color: #fff;
    border: 2px solid lightgray;
    border-radius: 5px;
    
}

.margen {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: hwb(237 0% 80%);
    color: #fff;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: hwb(237 0% 80%);
}

a:hover {
    text-decoration: underline;
}


h2{
    font-size: 48px;    
}

.links{
    text-decoration: underline;
    color: black;
    
}
footer{
    background-color: #e6e2e2;
}
.footer23{
    padding: 10px 0px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap:30px;
    padding-top: 40px;
    background-color: #e6e2e2;
    
}

footer p{
    background-color: #e6e2e2;
    
    display: flex;
    justify-content: center;
    color: #555;
    font-size: 11px;
    padding-bottom: 30px;
    

}

#checkbox{
    display: grid;
    grid-template-columns: 15px 5fr;
} 
.term{
    color: black;
    text-decoration: underline;
}

  
  .checkeo{
    margin-top: 25px;
  }