body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    margin: 0;
}
header {
    background-color: #f0f0f0;
    
    padding: 10px 20px;
    
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
header img{
    width: 100px;
    
}
.container {
    width: 600px;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 50px;
   
    
}
h2 {
    text-align: left;
}
h3 {
    color: black;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
a{
    display: flex;
    justify-content: center;
}
.mpno {
    position: absolute;
    top: 50%; 
    right: 0; 
    transform: translateY(-50%); 
    width: 700px; 
    height: auto; 
    

}