body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(231, 230, 230); /* Color de fondo general */
}

header {
    display: flex;
    
    align-items: center;
    padding: 50px;
     
}

.logo {
    width: 80px; 
}

.terminos {
    color: hwb(237 0% 80%);; 
    text-decoration: none;
    transition: color 0.3s ease; 
    justify-content: left;
    margin-left: 50px;
    
}

.terminos:hover {
    color: hwb(237 0% 10%);;  /* Cambia el color al pasar el cursor */
}   


.content {
    
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contenido {
    width: 60%;
    padding: 20px;
    background-color: #fff;
    border: 1.5px outset black;
    border-radius: 5px;
}

.margen {
    text-align: center;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

.imagen {
    width: 55%; /* Ancho deseado de la imagen */
    margin-left: 20px; /* Espacio a la izquierda de la imagen */
    align-self: flex-start; /* Alinea la imagen en la parte superior del contenedor */
}