a{
    text-decoration: none;
    color: white;
}
a:hover,a:active{
    color: #00ffdd;
    
}
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

mat-toolbar{
    background-color: #1c224b;
}
mat-icon{
    color: #fff;
}