<mat-nav-list>
    <a mat-list-item routerLink="homSe" (click)="onSidenavClose()">
        <i class="fas fa-home"></i> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="somos" (click)="onSidenavClose()">
        <i class="fa-solid fa-users"></i><span class="nav-caption">¿Quienes Somos?</span>
    </a>
    <a mat-list-item routerLink="ayuda" (click)="onSidenavClose()">
        <i class="fa-solid fa-circle-question"></i><span class="nav-caption">Ayuda</span>
    </a>
    <a mat-list-item routerLink="registro" (click)="onSidenavClose()">
        <i class="fa-solid fa-user-pen"></i> <span class="nav-caption">Registrarme</span>
    </a>
    <a mat-list-item routerLink="sesion" (click)="onSidenavClose()">
        <i class="fa-solid fa-user-tie"></i> <span class="nav-caption">Iniciar Sesion</span>
    </a>

</mat-nav-list>