<nav class="animated navbar navbar-expand-md navbar-light  borde " style=" background-color: #fff; ">

    <div class="container-fluid ">
        <a class="navbar-brand" href="#">

            <img class="LogoNB" src="../assets/img/logoicon2.png" alt="" width="40" height="40">
            <img src="../assets/img/nombrelogo.png" alt="" width="60" height="50">
        </a>


        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav mr-auto">
                <a class="nav-link bordelink " routerLinkActive="active" aria-current="page" routerLink="home">Inicio</a>
                <a class="nav-link bordelink" routerLinkActive="active" routerLink="somos">¿Quienes somos?</a>

                <a class="nav-link bordelink " routerLinkActive="active" routerLink="ayuda">Ayuda</a>
                <a class="nav-link bordelink " routerLinkActive="active" routerLink="registro">Registrarme</a>
                <a class="nav-link bordelink " routerLinkActive="active" routerLink="sesion">Iniciar Sesion</a>
            </div>
        </div>
    </div>
</nav>