<div class="container fast fadeIn animated  justify-content-center">

    <div class="card d-flex justify-content-center" style="width: 18rem;">
        <img src="https://depor.com/resizer/vpvHbeFdWfh35CEwOrFpXTioe0E=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/EXGFO7CIMBHLDMTBIWTBO2CBQA.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title centrar text-center">Ayuda</h5>
            <p class="card-text">contactenos al numero 38345211</p>
            <a href="https://api.whatsapp.com/send?phone=543834523879&text=Me%20Gusta%20Valan" class="btn btn-primary "> Whatsap</a>


        </div>


    </div>


    <div class="container-fluid">
        <div class="row mb-3">
            <div class=".col-xl-12">
                <app-registros></app-registros>
            </div>

        </div>
    </div>