
.login {
    left: 60%;
    opacity: 98%;
    width: 400px;
    height: 500px;
    vertical-align: middle;
    position: absolute;
    

}
.raios{
    background-image: url(../../../assets/img/FondoRegistro.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 900px;    
    padding: 0;
    margin: 0;
}
.boton{
    text-align: center;
}
.contenedorSesion {
    background-color: #1c224b;
    padding: 20px;
    border-radius: 15px;
}
.botonRe{
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

}
.botonRe:hover {
background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.botonRe:focus {
    outline: none;
}
.botonRe.botonR{
    background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.link {
    text-align: center;
    color: red;
}

.imgLogo {
    margin-bottom: 50px;
}

.TituloSesion {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    color: #fff;
}

.OlvContr {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.BordeLogin {
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 15px;
}
.icolog{
    font-size: 27px;
    color: #fff;
    margin-right: 8px;
}
.text{
    color: #fff;
}
.bor{
    border-radius: 30px;
    display: flex;
    
}
input.ng-invalid.ng-touched{
    border: solid red;
}  
input.ng-valid{
    border: solid green;
} 
.alert-danger{
    color: #721c24;
    background: #f0b1b6;
    border:1px solid white;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
}

.contenedorSesion{
    vertical-align: auto;
  
}
.registro{
    padding-top: 20px;
    text-align: center;
}
.registrolink{
    color: #00ffdd;
}
