<section class="styled__NoCostStyled-tcs5qy-0 eSCXRD">
    <div class="styled__ContainerStyled-sc-19bmfm6-0 hdYpro">
        <div class="styled__InnerContainer-tcs5qy-1 kAYFED">
            <h1 class="styled__Title-tcs5qy-3 bFhNSu"><span>$</span>0</h1>
            <h2 class="styled__Subtitle-tcs5qy-4 kTQJwG">Disfrutá de la mejor experiencia bancaria pero sin los costos de los bancos tradicionales</h2>
            <p class="styled__Description-tcs5qy-5 gTKvmd">No tenemos costos de apertura, ni cobramos comisiones. Las transferencias son gratuitas, ni tenemos costo de mantenimiento.</p>
            <!-- <button class="styled__RoundButton-tcs5qy-6 iitHxG">LEÉ MAS</button> -->
        </div>
    </div>
</section>