h2,
h1 {
    font-family: proxima-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.eSCXRD {
    padding: 1rem 0px;
}

@media screen and (min-width: 992px) {
    .eSCXRD {
        padding: 3.5rem 0px;
    }
}

.hdYpro {
    display: flex;
    flex-flow: column wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    max-width: 117rem;
    padding: 0px 2rem;
    margin: 0px auto;
}

@media screen and (min-width: 992px) {
    .hdYpro {
        flex-direction: row;
        padding: 0px 1.5rem;
    }
}

.kAYFED {
    width: 100%;
    text-align: center;
}

.bFhNSu {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px 0px 4rem;
    font-size: 11.2rem;
    font-weight: 700;
    letter-spacing: -0.15px;
    text-align: center;
    color: rgb(97, 74, 217);
}

.bFhNSu>span {
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: -0.26px;
    text-align: center;
    color: rgb(97, 74, 217);
    opacity: 0.34;
}

.kTQJwG {
    max-width: 1000px;
    margin: 0px auto 1.4rem;
    font-size: 2.2rem;
    font-weight: 800;
    letter-spacing: -0.19px;
    text-align: center;
    color: rgb(52, 51, 72);
}

.gTKvmd {
    max-width: 900px;
    margin: 0px auto 3.6rem;
    font-size: 1.4rem;
    color: rgb(106, 117, 135);
    letter-spacing: 0px;
    text-align: center;
    line-height: 1.4;
}

.iitHxG {
    padding: 1.4rem 4.6rem;
    border: 0px;
    border-radius: 4.2rem;
    background-color: rgba(97, 74, 217, 0.2);
    font-size: 1.6rem;
    font-weight: 800;
    letter-spacing: 0px;
    text-align: center;
    color: rgb(97, 74, 217);
    cursor: pointer;
    transition: all 0.25s ease-in 0s;
}