<div class="contenedor-footer">
    
    <!-- Footer -->
    <footer  class="foot page-footer font-small mdb-color pt-4">
    
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
        
          <!-- Footer links -->
          <div class="row text-center text-md-left mt-3 pb-3">
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold title"><img src="../assets/img/nombrelogo.png" alt="" width="60" height="50"></h6>
              <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold title title">Accesos Directos</h6>
              <p>
                <a routerLink="somos">Conócenos</a>
              </p>
              <p>
                <a routerLink="registro">Registrarme</a>
              </p>
              <p>
                <a routerLink="sesion">Iniciar Sesion</a>
              </p>
              <p>
                <a routerLink="ayuda">Ayuda</a>
              </p>
            </div>
            <!-- Grid column -->
    
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold title">Legales</h6>
              <p>
                <a routerLink="sesion">Terminos y Condiciones </a>
              </p>
              <p>
                <a href="#!"></a>
              </p>
              <p>
                <a href="#!">Ayuda a Comerciantes</a>
              </p>
              <p>
                <a href="#!">Ayuda</a>
              </p>
            </div>
    
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none">
    
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold title">Contact</h6>
              <p>
                <i class="fa-solid fa-house" class="mr-3"></i> Catamarca, Argentina.
              </p>
              <p>
                <i class="fa-solid fa-envelope"></i> info@Valan.com
              </p>
              <p>
                <i class="fa-solid fa-phone"></i> +549 383 4599252
              </p>
              <p>
                <i class="fa-solid fa-phone"></i> +549 383 567191
            </p>
             
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Footer links -->
    
          <hr>
    
          <!-- Grid row -->
          <div class="row d-flex align-items-center">
    
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8">
    
              <!--Copyright-->
              <p class="text-center text-md-left copi ">© 2022 Copyright:
                <a routerLink="home">
                  <strong> Valan.com</strong>
                </a>
              </p>
    
            </div>
            <!-- Grid column -->
    
            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0">
    
              <!-- Social buttons -->
              <div class="text-center text-md-right redes">
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item">
                    <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                        <i class="fa-brands fa-google-plus-g"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect>
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                  </li>
                </ul>
              </div>
    
            </div>
            <!-- Grid column -->
    
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
       
      </footer>
      <!-- Footer -->
    </div>