<div class="container fast fadeIn animated d-flex align-items-center justify-content-center alto-100 mb-2 " style="width: 80rem;">
    <div class="row">
        <div class="card-body  text-center border-0">
            <h1 class="card-subtitle mb-2 text-primary fw-bold">¿QUIENES SOMOS?</h1>
            <p class="card-text fw-bold  text-primary">Somos un equipo de Estudiantes en Desarrollo Full Stack Catamarca 2021-2022.</p>
        </div>
        <!--columna de la izquierda -->
        <div class="col-12 col-lg-9 ">
            <div class="row">
                <div class="col-12 col-lg-7 p-2">
                    <article class="card h-100 mb-2 border-secondary text-white" style="background-color: rgb(84, 85, 85);">
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <img src="./assets/img/Emanuel.jpg" width="70" heigth="70" alt="" class="border border-white border-3 rounded-circle">
                                <div>
                                    <h3 class="m-1 ">Angel Emanuel Coronel</h3>
                                    <p class=" m-1 text-white">Estudiante</p>
                                </div>
                            </div>
                            <div>
                                <p class="h6">Estudiante univesitario de la Tecnicatura en Informática y del curso Full Stack dictado por el ISPC.</p>
                                <p class="fs-6 fst-italic lh-1 text-white ">Una de las cosas que mas me gusta es diseñar y actualmente trabajo para una imprenta. Creo que dos ramas importantes de la programación son el Front y el Back; y tener la posibilidad de hacer las dos cosas en un solo curso
                                    es unico!</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-5 p-2 ">
                    <article class="card h-100 border-secondary text-white" style="background-color: rgb(110, 64, 184);">
                        <div class="card-body">
                            <div class="d-flex mb-3">
                                <img src="./assets/img/Abigail-Zurita.jpg" width="70" heigth="70" alt="" class="border border-white border-3 rounded-circle">
                                <div>
                                    <h3 class="m-1 ">Debora Abigail Zurita Rojo</h3>
                                    <p class=" m-1  text-white">Estudiante</p>
                                </div>
                            </div>
                            <div>
                                <p class="h6">Estudiante de Ingenieria Biomedica especialidad en Ciencias Naturales y del curso Full Stack dictado por el ISPC.</p>
                                <!-- <p class="fs-6 fst-italic lh-1 text-dark" >TEXTO A ELECCION</p> -->
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-5 p-2">
                    <article class="card h-100 border-top-0 border border-3  mb-3 text-dark" style="background-color: rgb(255, 255, 255);">
                        <div class="card-body  ">
                            <div class="d-flex mb-3">
                                <img src="./assets/img/Javier-Acosta.jpg" width="70" heigth="70" alt="" class="border border-white border-3 rounded-circle">
                                <div>
                                    <h3 class="m-1 fw-bold">Claudio Javier Acosta</h3>
                                    <p class=" m-1 text-dark">Profesor de Computación - Técnico en Infromática/ Diseño Web</p>
                                </div>
                            </div>
                            <div>
                                <p class="h6 text-secondary">Estudiante del curso Full Stack dictado por el ISPC. </p>
                                <!-- <p class="fs-6 fst-italic lh-1 text-secondary">TEXTO A ELECCION</p> -->
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-7 p-2 ">
                    <article class="card h-100 text-white" style="background-color: rgb(38, 50, 85);">
                        <div class="card-body">
                            <div class="d-flex mb-3 ">
                                <img src="./assets/img/Virginia-Diaz.jpg" width="60" class="border border-white rounded-circle border-3 ">
                                <div>
                                    <h3 class="m-1">Virginia Diaz </h3>
                                    <p class=" m-1 text-white"> Profesora de Tecnonología</p>
                                </div>
                            </div>
                            <div>
                                <p class="h6">Estudiante de la Tecnictura en Informática, Diplomatura en Nuevas Tecnologías y del curso FullStack dictado por el ISPC. </p>
                                <p class="fs-6 fst-italic lh-1 text-white">Mi formación profesional me llevo a conocer las Tecnologías de la Información. Descubriendo el mundo IT encontré nuevas formas de desarrollar la cratividad.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <!--columna de la derecha -->
        <div class="col-12 col-lg-3 p-2">
            <article class="card h-100  text-dark border-top-0 border border-3">
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <img src="./assets/img/Parra-Ivan.jpg" width="70" heigth="70" alt="" class="border border-white rounded-circle">
                        <div>
                            <h3 class="m-1 mb-1 fw-bold">Emmanuel Ivan Parra</h3>
                            <p class=" m-1 text-secondary">Estudiante</p>
                        </div>
                    </div>
                    <div>
                        <p class="h6">Estudiante universitario de la Tecnicatura en Informática - orientación- Diseño Web, Tecnicatura universitaria de Diseño y Desarrollo de Software y del curso Full Stack dictado por el ISPC.</p>
                        <p class="fs-6 fst-italic lh-1 text-secondary">La programación y los videojuegos son las dos actividades que mas disfruto.</p>
                    </div>
                </div>
            </article>
        </div>

    </div>
</div>