<div class="contenedorMonto">
	<div class="cuadroMonto">
		<p>Cuenta</p>
		<h2>$2500</h2>
	</div>
	<div class="contenedorMovimientos">
		<a href="#">Ultimos Movimientos</a>
		<a href="#">CBU/Alias</a>
	</div>
</div>

<div class="contenedorTarjeta columns">
	<a routerLink="transferencias">
		<div class="card">
			<h2>Inversiones</h2>
			<i class="fa-solid fa-money-bill-transfer"></i>
			<button class="btnCard">ingresa aqui</button>
			<div class="text"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo ea culpa expedita</p></div>
		</div>
	</a>
	<div class="card">
		<h2>Inversiones</h2>
		<i class="fa-solid fa-money-bill-transfer"></i>
		<button class="btnCard">ingresa aqui</button>
		<div class="text"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo ea culpa expedita</p></div>
	</div>
	<div class="card">
		<h2>Inversiones</h2>
		<i class="fa-solid fa-money-bill-transfer"></i>
		<button class="btnCard">ingresa aqui</button>
		<div class="text"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo ea culpa expedita</p></div>
	</div>
	<div class="card">
		<h2>Inversiones</h2>
		<i class="fa-solid fa-money-bill-transfer"></i>
		<button class="btnCard">ingresa aqui</button>
		<div class="text"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo ea culpa expedita</p></div>
	</div>
	<div class="card">
		<h2>Inversiones</h2>
		<i class="fa-solid fa-money-bill-transfer"></i>
		<button class="btnCard">ingresa aqui</button>
		<div class="text"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo ea culpa expedita</p></div>
	</div>
	<div class="card">
		<h2>Inversiones</h2>
		<i class="fa-solid fa-money-bill-transfer"></i>
		<button class="btnCard">ingresa aqui</button>
		<div class="text"><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo ea culpa expedita</p></div>
	</div>
</div>
