body {
    margin: 0%;
    background-color: white;
    font-size: 16px;
}

.container {
    text-align: center;
    margin-top: 27.5px;
}

.adentro {
    font-size: 32px;
    margin-right: 125px;
}
#imagencentro{

margin-right: 5px;


}


